
 html{
  background-color: rgb(255, 238, 230);
  max-width: 100%;
  overflow-x: hidden;
}

header h1 a{
  font-family: avenir, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: blue!important;
  text-align: center!important;
  position: relative;
  top: 33px;
  left: 552px;
}

header h2 a{
  font-family: avenir, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: transparent!important;
  -webkit-text-stroke: 1px black!important;
  position: relative;
  left: 548px;
  top: -48px;
}

header a{
  text-decoration: none;
}
a:visited{ 
  text-decoration: none;
}
a:hover { 
  text-decoration: none;
}
a:focus { 
  text-decoration: none;
}
a:hover{
  text-decoration: none
} 
a:active { 
  text-decoration: none;
}

header h6{
  font-family: avenir, sans-serif;
  font-weight: 500;
  position: relative;
  left: 60px;
  top: -120px;
  color: blue;
}

.fa-search{
  position: relative;
  left: 33px;
  top: -160px; 
  color: blue;
}

.nav{
  font-family: avenir, sans-serif;
  font-size: 12px;
  color: blue;
  position: relative;
  /*left: 550px;*/
  top: -120px;
  text-align: center;

}
.nav a {
  padding: 0 3.5rem;
  text-decoration: none;
  position: relative;
  top: 30px;
}
a:visited{ 
  text-decoration: none;
}
a:hover { 
  text-decoration: none;
}
a:focus { 
  text-decoration: none;
}
a:hover{
  text-decoration: none
} 
a:active { 
  text-decoration: none;
}

intro{
  font-size: 100px;
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}

.gif{
  position: relative;
  top: -250px;
  pointer-events: none;
  user-select: none;
}

.notable{
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: red;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  top: -315px;
}

.notable2{
  font-family: avenir, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .75px black;
  letter-spacing: 2px;
  position: relative;
  left: 601px;
  top: -344px;
}

.see-all{
  font-family: avenir, sans serif;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  text-align: center;
  position: relative;
  top: -325px;
}

.see-all a {
  text-decoration: none;
  color: red;
}
a:visited{ 
  text-decoration: none;
  color: red;
}
a:hover { 
  text-decoration: none;
  color: red;
}
a:focus { 
  text-decoration: none;
  color: red;
}
a:hover{
  text-decoration: none;
  color: red;
} 
a:active { 
  text-decoration: none;
  color: red;
}

img {
  height: 100%;
  transition: all 0.5s;
  opacity: 1;
}
h3 {
  font-family: avenir;
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}
p {
  font-family: avenir;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
  opacity: 0;
}
.container {
  height: 400px;
  float: left;
  margin: 20px;
  position: relative;
  top: -300px;
  left: 60px;
}
.container:hover img {
  opacity: 0.1;
  transition: all 0.5s;
}
.container:hover h3 {
  opacity: 1;
  transition: all 0.5s;
}
.container:hover p {
  opacity: 1;
  transition: all 0.5s;
}
.inner {
  position: absolute;
  display: table;
  height: 90%;
  width: 90%;
  padding: 5%;
  top: 0;
  left: 0;
}
.inner .v-inner {
  display: table-cell;
  vertical-align: middle;
}

.filter{
  font-family: avenir sans-serif;
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: blue;
}
a:hover{
  text-decoration: none;
  color: red;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

.filter{
  margin-left: 200px;
  font-family: avenir;
  text-transform: uppercase;
  font-weight: 500;
  color: blue;
  font-size: 14px;
}

.optimas{
  margin-left: 200px;
  padding-top: 45px;
}
.palatinos{
  margin-left: 750px;
  position: absolute;
  top: 307px;
}
.zapfinos{
  margin-left: 200px;
  padding-top: 45px;
}
.urwgrotesks{
  margin-left: 750px;
  position: absolute;
  top: 695px;
}
.zapfbooks{
  margin-left: 200px;
  padding-top: 45px;
}
.michelangelos{
  margin-left: 750px;
  position: absolute;
  top: 1082px;
}

.optimag{
  margin-left: 200px;
  position: relative;
  top: -1117px;
  opacity: 0;
}
.optimag:hover{
  opacity: 1;
}
.palatinog{
  margin-left: 750px;
  position: relative;
  top: -1460px;
  opacity: 0;
}
.palatinog:hover{
  opacity: 1;
}
.zapfinog{
  margin-left: 200px;
  position: relative;
  top: -1415px;
  opacity: 0;
}
.zapfinog:hover{
  opacity: 1;
}
.urwgroteskg{
  margin-left: 750px;
  position: relative;
  top: -1758px;
  opacity: 0;
}
.urwgroteskg:hover{
  opacity: 1;
}
.zapfbookg{
  margin-left: 200px; 
  position: relative;
  top: -1712px;
  opacity: 0;
}
.zapfbookg:hover{
  opacity: 1;
}
.michelangelog{
  margin-left: 750px;
  position: relative;
  top: -2055px;
  opacity: 0;
}
.michelangelog:hover{
  opacity: 1;
}

.backbutton{
  font-family: avenir;
  padding-top: 50px;
  padding-bottom: 100px;
  color: blue;
}
a:visited{ 
  text-decoration: none;
  color: blue;
}
a:hover { 
  text-decoration: none;
  color: red;
}
a:focus { 
  text-decoration: none;
}
a:hover{
  text-decoration: none;
} 
a:active { 
  text-decoration: none;
}